body{
    background-image: url(imagenes/background.jpg);
    background-size:cover;
    text-align: center;
}

Body .container{
    background-color:rgba(36, 32, 32, 0.664);
    border-radius: 10px;
    margin: 15px 20% 
}

body header {
    color: rgb(16, 197, 9);
    font-size: 18px;
    font-weight: 500;
    font-family: Arial;
    padding-top: 50px;
}

body nav{
    margin:0% 10%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(16, 197, 9);
}
nav button {
    cursor: pointer;
  }

body main{
    text-align: left;
    color: white;
    padding-bottom: 50px;
    font-family: Arial
}

main .monopattini{
    margin: 20px 10%;
    font-size: 75%;
}

main .monopattino{
    font-size: large;
}

.monopattini .carica div{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.carica .uno{
    margin: 0% 63% 0% 0%;
    background-color: rgb(230, 181, 23); 
}

.carica .due{
    margin: 0% 35% 0% 0%;
    background-color: rgb(16, 197, 9);
}

.carica .tre{
    margin: 0% 85% 0% 0%;
    background-color: rgb(158, 62, 62);
}
